body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    @include phone {
        font-size: 90%;
    }
    .hidden-text {
        display: none;
    }
}
.siteContainer {
    @include background-image('gameBG.svg', center center);
    background-color: #171717;
    padding: 20px 50px;
    @include box-sizing();
    width: 100%;
    min-height: 100vh;
    
    position: relative;
    .sideBar {
        padding-right: 30px;
        @include box-sizing();
        @include phone {
            padding-right: 0;
        }
    }
    .app {
//        display: table;
//        width: 100vw;
//        height: 100vh;
//        overflow: hidden;
//        .pageContainer {
//            display: table-cell;
//            vertical-align: top;
//            width: 100%;
//            height: 100%;
//            @include box-sizing();
//            padding: 30% 0 0 0;
//        }
    }
    @include phone {
        padding: 20px;
    }
}

// Homescreen styling

.app {
    .logo {
        width: 54px;
        margin: 0 0 20px 0;
        svg {
            width: 54px;
            height: 57px;
            .cls-1 {
                fill: $white;
                stroke: $white;
            }
        }
        
    }
    .icon {
        width: 56px;
        margin: 0 0 40px 0;
        svg {
            width: 56px;
            height: 75px;
            .cls-1 {
                fill: $white;
            }
        }
        &.iconRocket {
            margin: 50px 0 40px 0;
            svg {
//                width: 75px;
//                height: 102px;
            }
        }
        &.iconPeople {
            width: 60px;
            margin: 0 0 20px 0;
        }
    }
    .homeSlider {
        position: relative;
        margin-bottom: 30px;
        width: 100%;
        @include box-sizing();
        .slide {
            display: none;
            &.active {
                display: block;
            }
            position: relative;
            .playVideo {
                z-index: 1;
                color: $white; 
                text-decoration: none;
                font-size: 3em;
                line-height: 1em;
                width: 50px;
                height: 50px;
                position: absolute;
                margin: auto;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                .button-text {
                    text-indent: -100000px;
                    display: none;
                }
                span {
                
                }
            }
        }
        .box {
            width: 300px;
            height: 300px;
            background: red;
        }
        .logo {
            width: 215px; 
            margin: 0 auto;
            margin-bottom: 100px;
        }
        .heading {
            width: 832px;
            margin: 0 auto;
        }
        .tableBG {
//            @include background-image('leaderboardBG.svg', top center);
//            background-size: 100%;
//            padding: 125px 30px 80px 30px;
//            min-height: 700px;
//            .overlayClass {
//                @include image-overlay('videoPlaceholder.png', top center);
//            }
        }
    }
    .pageContainer {
        .pageContainerPadding {
            margin-bottom: 50px;
            padding: 0 80px;
            .heading {
                width: 832px;
                margin: 0 auto;
            }
            .introText {
                text-align: center;
                margin: 50px 0 0 0;
                p {
                    color: $white;
                }
            }
        }
        // Video container
        .videoContainer {
            @include background-image('Frame6.svg', top center);
            background-size: 100%;
            padding: 40px 30px 30px 30px;
        }
        
        .video {
            overflow: hidden;
            width: 100%;
            height: 905px;
            @include image-overlay('videoPlaceholder.png', top center);
            video {
                width: 110%;
                height: auto;
                position: relative;
                left: -5%;
            }
        }
        .infoCard {
            @include background-image('Frame1.svg', top center);
            background-size: 100%;
            padding: 40px 30px 30px 30px;
            .intro {
                padding-top: 50px;
                p {
                    color: $white;
                    font-size: 2.750em;
                    line-height: 1em;
                }
            }
            .accessCard {
                position: relative;
                margin: 0 30px 33px 30px;
                p {
                    position: absolute;
                    left: 14%;
                    top: 20%;
                    color: $white;
                    font-size: 5.750em;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
            .biometricsImage {
                margin: 0 30px 20px 30px;
            }
        }
    }
    .mainContent {
        &AddBottom {
            img,
            video {
                margin-bottom: 20px;
            }
        }
    }
}




.siteContainer {
    overflow: hidden;
    .app {
        .pageContainer {
            &#final-score {
//              
            }
            &#game-over {
                padding-top: 100px;
                .pageContainerPadding {
                    padding: 10% 0;
                    .icon {
                        width: 150px;
                        margin: 0 auto;
                    }
                    .introText {
                        margin-top: 60px;
                        p {
                            margin: 0 0 10% 0;
                            font-size: 2.85em;
                        }
                    }
                    .gameOverHeading {
                        margin: 0 0 10% 0;
                    }
                    .businessText {
                        text-align: center;
                        padding: 0 5%;
                        p {
                            font-size: 2.85em;
                            margin: 0 0 10% 0;
                        }
                    }
                }
            }
            &#leaderboardPage {
                position: relative;
                
            }
        }
        .page {
            &.page-2 {
                .pageContainer {
                    padding-top: 10%;
                }
            }
        }
    }
}


.app {
    .gameContainer {
        position: relative;
        border: 1px solid $blueNew;
        border-top: none;
        border-right: none;
        position: relative;
        margin: 0 0 20px 0;
        &:before {
            content: '';
            display: block;
            height: 1px;
            width: 83%;
            position: absolute;
            left: 0;
            top: 0;
            background: $blueNew;
            @include phone {
                width: 55%;
            }
        }
        &:after {
            content: '';
            display: block;
            height: 83%;
            width: 1px;
            position: absolute;
            right: 0;
            top: 14%;
            background: $blueNew;
        }
        .graph {
            width: 16%;
            position: absolute;
            right: 0;
            top: 0;
            padding: 20px 0;
            text-align: center;
            @include box-sizing();
            border: 1px solid $greenNew;
            border-bottom: none;
            img {
                width: 65%;
                height: auto;
                margin: 0 auto;
            }
            @include phone {
                width: 40%;
            }
        }
        .bottomGraphics {
            padding: 20px 30px;
            position: relative;
            &:before {
                content: '';
                display: block;
                height: 1px;
                width: 83%;
                position: absolute;
                left: 0;
                top: 0;
                background: $blueNew;
                @include phone {
                    width: 55%;
                }
            }
            &:after {
                content: '';
                display: block;
                height: 10px;
                width: 16.9%;
                position: absolute;
                right: 0;
                top: 0;
                border-top: 1px dashed $blueNew;
                @include phone {
                    width: 45%;
                }
            }
            .bottomGraphics-left {
                @extend %display-flex-normal;
                margin: 0;
                .icon {
                    width: 55px;
                    margin: 0 20px 0 0;
                    padding: 10px;
                    border: 1px solid #0062ff;
                    @include border-radius(100%);
                    @include box-sizing();
                    -moz-transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                    img {
                       animation: rotation 3s infinite linear; 
                    }
                    &.icon-1 {
                        border-left-color: $white;
                    }
                    &.icon-2 {
                        border-top-color: $white;
                    }
                    &.icon-3 {
                        border-right-color: $white;
                    }
                }
                
            }
            .bottomGraphics-right {
                text-align: right;
                img {
                    width: 10%;
                    height: auto;
                    float: right;
                }
            }
            .row {
                .eight {
                    &.columns {
                        @include phone {
                            width: 50%;
                            .bottomGraphics-left {
                                img {
                                   width: 100%; 
                                }
                            }
                            .bottomGraphics-right {
                                img {
                                   width: 35%; 
                                }
                            }
                        }
                    }
                }
            }
        }
        &-padding {
            padding: 30px;
        }
    }
}













