form {
    .outline {
        border: 2px solid $blueNew;
        display: inline-block;
        @include box-sizing();
        vertical-align: top;
        padding-right: 45px;
        position: relative;
        overflow: hidden;
        @include phone {
            display: block;
        }
        input {
            border: none;
            border-radius: 0;
            font-size: 1em;
            line-height: 1em;
            color: $white;
            background: #252525;
            width: 305px;
            margin: 0;
            padding: 16px 15px;
            height: 100%;
            text-transform: uppercase;
            font-family: 'ibmplexsans-light-webfont';
            letter-spacing: 1px;
            &:focus {
                border: none;
            }
            @include phone {
                width: 100%;
            }
//            &::-webkit-input-placeholder { /* Edge */
//              color: $white;
//            }
//            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
//              color: $white;
//            }
//            &::placeholder {
//              color: $white;
//            }
        }
//        &.outlineButton {
//            width: 115px;
//            margin: 0 0 0 10px;
//            button {
//                margin: 0;
//                text-align: center;
//                line-height: 100%;
//                padding: 25px 10px;
//                height: 100%;
//                border: none; 
//                width: 100%;
//                background: $skyBlue;
//                @include box-sizing();
//            }
//        }
        button {
            background: #0062ff;
            color: $white;
            width: 45px; 
            padding: 20px 0;
            text-align: center;
            display: block;
            text-decoration: none;
            position: absolute;
            right: 0;
            top: 0;
            border: none;
            border-radius: 0;
            height: 55px;
            margin: 0;
            .icon {
//                position: absolute;
                right: 10px;
                top: 14px;
                width: 20px!important;
                margin: 0 auto;
                img {
                    width: 20px;
                    height: 16px;
                }
            }
        }
    }
}