.delegate {
    .cls-2 {
        stroke: $blue;
        fill: $skyBlue;
    }
    .cls-3 {
        fill: $skyBlue;
        stroke: none;
    }
    .cls-4 {
        fill: $skyBlue;
    }
    .cls-5 {
        fill: $blue;
    }
}
.alwaysActive,
.active {
    .delegate {
        .cls-2 {
            stroke: $white;
            fill: $greenTrans;
        }
        .cls-3 {
            fill: $greenTrans;
            stroke: none;
        }
        .cls-4 {
            fill: $greenTrans;
        }
        .cls-5 {
            fill: $white;
        }
    }
}

#level-2-game {
    .game {
        .cls-1 {
            fill: $white;
        }
        .cls-2 {
            fill: none;
        }
    }
}