.siteContainer {
    #app {
        .pageContainer {
            &#level-3-intro {
                padding-top: 20px;
                .pageContainerPadding {
                    .introText {
                        img {
                            margin: 0 0 40% 0;
                        }
                    }
                }
//                @include phone {
//                    position: relative;
//                    top: -50px;
//                }
            }
            &#level-3-game {
                padding-top: 20px;
                .exampleNumber {
                    border: 1px solid $greenNew;
                    padding: 15px;
                    @include box-sizing();
                    margin: 0 0 30px 0;
                    position: relative;
                    &:after {
                        content: '';
                        display: block;
                        width: 12px;
                        height: 12px; 
                        @include border-radius(12px);
                        position: absolute;
                        left: -6px;
                        bottom: -6px;
                        background: $greenNew;
                    }
                    p {
                        font-size: 1vw;
                        line-height: 1em;
                        margin: 0;
                        font-family: 'IBMPlexMono';
                        @include tablet {
                            font-size: 1em;
                        }
                        @include phone {
                            font-size: 1em;
                        }
                    }
                    .numberToFind {
                        text-align: right;
                        p {
                            color: $greenNew;
                            @include tablet {
                                font-size: 1em;
                            }
                            @include phone {
                                font-size: 1em;
                            }
                        }
                    }
                    @include phone {
                        .row {
                            .eight {
                                &.columns {
                                    width: 50%;
                                }
                            }
                        }
                    }
                }
                .numberList {
                    margin: 0 0 30px 0;
                    div {
                        width: 33.33%;
                        display: inline-block;
                        color: $navyBlue;
                        font-size: 1vw;
                        line-height: 1em;
                        letter-spacing: 15px;
                        font-family: 'IBMPlexMono';
                        text-align: center;
//                        &:nth-child(3n+2) {
//                            text-align: center;
//                        }
//                        &:nth-child(3n+3) {
//                            text-align: right;
//                        }
                        
                        &.fail {
                          color: $red;
                        }
                        &.pass {
                            color: $green;
                        }
                        &:hover {
                            cursor: pointer;
                        }
                        @include tablet {
                            letter-spacing: 10px;
                            font-size: 1em;
                        }
                        @include phone {
                            letter-spacing: 4px;
                            font-size: 1em;
                        }
                    }
                }
                .button {
//                    top: 75px;
                }
                .helpText {
                    margin-top: 30px;
                    display: none;
                    p {
                        margin: 0 0 10px 0;
                        font-size: 1em;
                    }
                    .button {
                        top: 0;
                    }
                }
            }
            &#level-3-warRoom {
                .pageContainerPadding {
                    .videoContainer {
                        @include background-image("Frame5.svg", top center);
                        background-size: 100%;
                        margin: 75px 0 0 0;
                        padding: 40px 30px 65px 30px;
                        .imagePlaceholder {
                            overflow: hidden;
                            @include image-overlay('videoPlaceholder-2-01.png', center bottom);
                            height: 705px;
                            img {
                                width: 120%;
                                position: relative;
                                left: -10%;
                            }
                        }
                    }
                }
                @include tablet-portait {
                    //padding-top: 100px;
                }
            }
            &#level-3-game-complete {
                .pageContainerPadding {
                    .gameContainer {
                        padding: 200px 50px 130px 50px;
                        img {
                            margin: 0 0 35% 0;
                        }
                        h2 {
                            padding: 0 10%;
                        }
                    }
                }
            }
            &#level-3-warRoom2 {
                @include phone {
                    position: relative;
                    top: -50px;
                }
            }
            &#final-score {
                .exampleNumber {
                    border: 1px solid $greenNew;
                    padding: 15px;
                    @include box-sizing();
                    margin: 0 0 30px 0;
                    position: relative;
                    .row {
                        margin: 0 0 5px 0;
                        @include phone {
                            .eight {
                                &.columns {
                                    width: 50%;
                                }
                            }
                        }
                    }
                    &:after {
                        content: '';
                        display: block;
                        width: 12px;
                        height: 12px; 
                        @include border-radius(12px);
                        position: absolute;
                        left: -6px;
                        bottom: -6px;
                        background: $greenNew;
                    }
                    p {
//                        font-size: 1em;
                        line-height: 1em;
                        margin: 0;
                        font-family: 'IBMPlexMono';
                        &.name {
                            text-transform: uppercase;
                            font-size: 1.750em;
                        }
                    }
                    .finalScore,
                    .alignRight {
                        text-align: right;
                        p {
                            color: $greenNew;
                            font-size: 1.750em;
                            @include phone {
                                font-size: 1.250em;
                            }
                        }
                        img {
                            max-width: 30px;
                            display: inline;
                            @include phone {
                                max-width: 20px;
                            }
                        }
                    }
                    .alignRight {
                        .reputation {
                            color: $redNew;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}