// Level 2 styling

@keyframes text-color {
  to {
        color: $redNew;
  }
}


.siteContainer {
    .app {
        .pageContainer {
            .headingAnimate {
                color: $white;
                animation: text-color 1s infinite;
            }
            &#level2-intro {
                .introText {
                    margin: 25% 0 50% 0;
                }
            }
            &#level2-warRoom {
                padding-top: 20px;
                .pageContainerPadding {
                    .videoContainer {
                        @include background-image("Frame5.svg", top center);
                        background-size: 100%;
                        margin: 75px 0 0 0;
                        padding: 40px 30px 65px 30px;
                        .imagePlaceholder {
                            overflow: hidden;
                            @include image-overlay('videoPlaceholder-2-01.png', center bottom);
                            height: 705px;
                            img {
                                width: 120%;
                                position: relative;
                                left: -10%;
                            }
                        }
                    }
                }
//                @include phone {
//                    position: relative;
//                    top: -50px;
//                }
            }
            &#level2-title-intro {
                padding-top: 20px;
//                @include phone {
//                    position: relative;
//                    top: -50px;
//                }
            }
            &#level2-runBook {
                .pageContainerPadding {
                    .videoContainer {
                        @include background-image("Frame3.svg", top center);
                        background-size: 100%;
                        margin: 75px 0;
                        padding: 100px 30px 90px 30px;
                        h1 {
                            top: -25px;
                            left: 135px;
                            font-size: 4em;
                        }
                    }
                }
            }
            &#level2-title-intro {
//                padding-top: 20px;
                .pageContainerPadding {
                    .gameContainer {
                        @include background-image("Frame4.svg", top center);
                        margin: 70px 0;
                        background-size: 100%;
                        padding: 200px 50px;
                        img {
                            margin: 0 0 90px 0;
                        }
                        h2 {
                            margin: 0;
                        }
                    }
                }
                @include tablet-portait {
//                    padding-top: 100px;
                }
            }
            &#level-2-game {
                padding-top: 20px;
                .pageContainerPadding {
                    .gameContainer {
                        @include background-image("Frame2.svg", top center);
                        background-size: 100%;
                        padding: 40px 30px 55px 30px;
                        margin: 75px 0;
                        p {
                            font-size: 1.8em;
                            line-height: 1em;
                            margin: 20px 0 30px 0;
                            padding: 0 30px;
                        }
                        .gameContainerInternal {
                            @include background-image("Comms_Frame.svg", center center);
                            background-size: 100%;
                            padding: 15% 14%;
                        }
                        
                    }
                }
                .game {
                    padding: 0 30px;
                    margin: 0 0 20px 0;
                    @extend %display-flex-normal;
                    .column {
                        width: 40%; 
                        float: none;
                        margin: 0;
                        p {
                            font-size: 0.875em;
                            line-height: 1em;
                            margin: 0 0 15px;
                        }
                        .border {
//                            padding: 15px;
//                            @include box-sizing();
//                            border: 1px solid $blue;
                        }
                        #cardPile,
                        #cardSlots {
                            @extend %display-flex-normal;
                            flex-wrap: wrap;
                            .move {
                                outline: 1px solid $white;
                            }
                        }
                        #cardSlots {
                            
                        }
                        div {
                            &.ui-draggable,
                            &.ui-droppable {
//                                border: 1px solid $blue;
                                background: $blueNew;
                                width: 49%;
                                height: 70px;
//                                margin: 0 0 6% 6%;
                                @include box-sizing();
                                color: $white;
                                overflow: hidden;
                                margin: 0.5%;
                                &:nth-of-type(odd) {
                                    margin-left: 0;
                                }
                                &:nth-of-type(9),
                                &:nth-of-type(10) {
                                    margin-bottom: 0;
                                }
                            }
                            &.ui-draggable {
                                position: relative;
                                padding: 15px 0;
                                svg {
                                    position: absolute;
                                    margin: auto;
                                    left: 0;
                                    right: 0;
                                    top: 0;
                                    bottom: 0;
                                    g {
                                        opacity: 1;
                                    }
                                    path {
                                        opacity: 1;
                                    }
                                }
                                &.correct {
                                    background-color: $blue;
                                    border-color: $white;
                                    svg {
                                        path {
                                            fill: $white;
                                        }
                                    }
                                }
                            }
                            &.ui-droppable {
                                background-size: 100%;
                                color: $transWhite;
                                &#icon-7 {
                                    @include background-image("icon-1.svg", center center);
                                    background-size: 44px 37px;
                                }
                                &#icon-4 {
                                    @include background-image("icon-2.svg", center center);
                                    background-size: 41px 35px;
                                }
                                &#icon-6 {
                                    @include background-image("icon-3.svg", center center);
                                    background-size: 47px 47px;
                                }
                                &#icon-5 {
                                    @include background-image("icon-4.svg", center center);
                                    background-size: 47px 47px;
                                }
                                &#icon-8 {
                                    @include background-image("icon-5.svg", center center);
                                    background-size: 47px 47px;
                                }
                                &#icon-2 {
                                    @include background-image("icon-6.svg", center center);
                                    background-size: 40px 35px;
                                }
                                &#icon-1 {
                                    @include background-image("icon-7.svg", center center);
                                    background-size: 44px 47px;
                                }
                                &#icon-3 {
                                    @include background-image("icon-8.svg", center center);
                                    background-size: 47px 47px;
                                    
                                } 
                                &.correct {
                                    //background-color: $blue!important;
                                    background-color: $white!important;       
                                }
                            }
                        }
                        &.column-1 {
                            img {
                                width: 86%;
                                margin: 0 0 30px 0;
                            }
                        }
                        &.column-2 {
                            width: 20%;
                            padding: 0 30px;
                            text-align: center;
                            border: none;
//                            height: 100%;
                            position: relative;
                            div {
                              border: none;  
                            }
                            .row {
                                margin: 0;
                                position: absolute;
                                width: calc(100% - 60px);
                                top: 16%;
                                img {
                                    max-width: 60px;
                                    margin: 0 auto;
                                }
                                &:nth-of-type(2) {
                                    top: 40%;
                                }
                                &:nth-of-type(3) {
                                    top: 63%;
                                }
                                &:nth-of-type(4) {
                                    top: 84%;
                                }
                            }
                        }
                        &.column-3 {
                            .border {
                                #cardSlots {
                                    .ui-droppable {
                                        background-color: #013a6d;
                                    }
                                }
                            }
                            img {
                                width: 80%;
                                margin: 0 0 30px 0;
                            }
                        }
                        #cardPile {

                        }
                    }
                    &:after {
                        content: '';
                        display: block;
                        clear: both;
                    }
                    @include phone {
                        padding: 0;
                    }
                }
                .button {
                    top: 75px;
                }
                .helpText {
                    margin-top: 30px;
                    display: none;
                    p {
                        margin: 0 0 10px 0;
                        font-size: 1em;
                    }
                    .button {
                        top: 0;
                    }
                }
            }
            &#level-2-game-complete {
                .pageContainerPadding {
                    .gameContainer {
                        padding: 150px 50px;
                        svg {
                            margin: 0 0 60px 0;
                            .cls-1{
                                fill: $blue;
                            }
                            &.active {
                                .cls-1{
                                    fill: $orange;
                                }
                            }
                        }
                    }
                    
                }
            }
        }
    }
}