.siteContainer {
    .app {
        .pageContainerGame {
            position: relative;
            .pageContainerPadding {
                position: relative;
                z-index: 1;
            }
            .button {
                position: relative;
                z-index: 1;
            }
            
            .instructions {
                position: relative;
                .instructionContent {
                    text-align: center;
                    padding-top: 20px;
                    position: absolute;
                    display: none;
                    width: 100%;
                    &:before {
                        content:'';
                        display: block;
                        width: 15px;
                        height: 9px;
                        @include background-image("arrowUp.png", top left);
                        position: absolute;
                        top: 0;
                    }
                    p {
                        color: $white;
                        font-size: 1.25em;
                        line-height: 1em;
                        margin: 0;
                    }
                    &-1 {
                        &:before {
                            left: 12.5%;
                        }
                    }
                    &-2 {
                        &:before {
                            left: 45%;
                        }
                    }
                    &-3 {
                        &:before {
                            left: 77.5%;
                        }
                    }
                }
            }
            .overlay {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: $black;
                opacity: 0.6;
                z-index: 0;
            }
            &#game-explanation {
//                .button {
//                    position: absolute;
//                    left: 0;
//                    top: 60%;
//                    display: none;
//                }
                .row {
                    &-instructions {
                        position: fixed;
                        width: 100%;
                        top: 125px;
                        left: 0;
                    }
                }
                @include tablet-portait {
                    padding-top: 100px;
                }
                @include phone {
                    padding-top: 20px;
                }
            }
            &.pageContainerLevelIntro {
                .pageContainerPadding {
                    .introText {
                        margin-top: 25%;
                        padding: 0 5%;
                        img {
                            margin: 0 0 15% 0;
                        }
                        p {
                            margin: 0 0 15% 0;
                        }
                    }
                }
            }
            &.pageContainerGameFinished {
                .pageContainerPadding {
                    .gameContainer {
                        @include background-image("Frame4.svg", top center);
                        margin: 70px 0;
                        background-size: 100%;
                        padding: 200px 30px;
                        img {
                            margin: 0 0 30px 0;
                        }
                        p {
                            color: $white;
                            font-size: 6.5em;
                            line-height: 1em;
                            text-align: center;
                            margin: 60px 0;
                            font-weight: 700;
                            text-transform: uppercase;
                        }
                        h2 {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    .gameScoresContainer {
//        padding: 0 80px;
//        position: fixed;
//        left: 0;
//        top: 105px;
//        @include box-sizing();
//        width: 100%;
    }
    .gameScores {
        background-size: 100%;
        @extend %display-flex;
        @include box-sizing();
        width: 100%;
        .score {
            display: inline-block;
            padding: 20px 15px;
            border: 1px solid $greenNew;
            border-top: none;
            position: relative;
            &:before {
                content: '';
                display: block;
                width: 95%;
                height: 1px;
                background: $greenNew;
                position: absolute;
                left: 0;
                top: 0;
            }
            &:after {
                content: '';
                display: block;
                width: 12px;
                height: 12px;
                background: $greenNew;
                position: absolute;
                left: -6px;
                bottom: -6px;
                @include border-radius(12px);
            }
            .score-time {
                color: $green;
                margin: 0 0 10px 0;
                font-family: 'IBMPlexMono';
                &.error {
                    color: $redNew;
                }
            }
            .score-title {
                color: $white;
                font-size: 0.875em;
                line-height: 1em;
                font-weight: 100;
                font-family: 'IBMPlexMono';
            }
            &-1 {
                width: 25%;
                border-right: none;
                .score-time {
                    font-size: 1.750em;
                    line-height: 1em;
                    @include tablet {
                       font-size: 1.3em; 
                    }
                    @include phone {
                        font-size: 1.3em;
                    }
                }
            }
            &-2 {
                width: 50%;
                border-right: none;
                .score-time {
                    font-size: 1.750em;
                    line-height: 1em;
                    @include tablet {
                       font-size: 1.3em; 
                    }
                    @include phone {
                        font-size: 1.3em;
                    }
                }
            }
            &-3 {
                width: 25%;
                border-right: none;
                border-top: 1px solid $greenNew;
                border-bottom: none;
                .score-time {
                    font-size: 1.750em;
                    line-height: 1em;
                    @include tablet {
                       font-size: 1.4em; 
                    }
                    @include phone {
                        font-size: 1.4em;
                    }
                }
                &:before {
                    background: none;
                    top: 100%;
                    border-top: 2px dashed #565656;
                    width: 100%;
                }
                &:after {
                    background: #565656;
                }
                img {
                    max-width: 30px;
                    @include tablet {
                        max-width: 18px;
                    }
                    @include phone {
                        max-width: 18px;
                    }
                }
            }
        }
    }
}

// Team assemble

.siteContainer {
    .app {
        #teamAssemble {
            padding-top: 20px;
            .rowFlex {
                @extend %display-flex-normal;
                flex-wrap: wrap;
                margin: 0 0 20px 0;
                .member {
                    width: 33.33%;
                    @include box-sizing();
                    padding: 2px;
                    min-height: 100px;
                    a {
                        display: block;
                        padding: 15px;
                        background: $blueNew;
                        color: $white;
                        min-height: 100px;
                        @include box-sizing();
                        font-size: 1em;
                        line-height: 1.2em;
                        text-decoration: none;
                        font-family: 'ibmplexsans-light-webfont';
                        &.active {
                            background: $greenNew;
                        }
                        &.alwaysActive {
                            background: $greenTrans;
                        }
                        @include phone {
                            font-size: 1em;
                        }
                    }
                    @include phone {
                        width: 50%;
                    }
                }
            }
        }
        #teamResults {
            padding-top: 20px;
            .rowFlex {
                @extend %display-flex-normal;
                flex-wrap: wrap;
                margin-top: 70px;
                @include phone {
                    margin-top: 20px;
                }
                .choice {
                    width: 33.33%;
                    @include box-sizing();
                    padding: 2px;
                    height: 130px;
                    @include phone {
                        height: 115px;
                        width: 50%;
                    }
                    .choice-internal {
                        padding: 15px;
                        background: $blueNew;
                        color: $white;
                        height: 100%;
                        background: $greenNew;
                        @include box-sizing();
                        font-size: 1.25em;
                        font-family: 'ibmplexsans-light-webfont';
                        @include phone {
                           font-size: 1em; 
                        }
                    }
                    .title {
                        p {
                            font-size: 0.875em;
                            line-height: 1em;
                            font-family: 'IBMPlexSans-SemiBold';
                        }
                    }
                    .department {
                        p {
                            font-size: 0.875em;
                            line-height: 1em;
                        }
                    }
                    p {
                        margin: 0;
                    }
                }
            }
        }
        #level-1-game {
            padding-top: 20px;
            .pageContainerPadding {
                .gameContainer {
                    @include background-image("Frame2.svg", top center);
                    background-size: 100%;
                    padding: 40px 30px 100px 30px;
                    margin: 75px 0;
                    .gameContainerInternal {
                        background-size: 100%;
                        position: relative;
                        text-align: center;
                        h2 {
                            font-size: 2.813em;
                            margin: 0px 0 15px 0; 
                        }
                        p {
                            font-size: 1.875em;
                            color: $grey;
                            padding: 0 6%;
                            margin: 0 0 30px 0;
                        }
                    }
                }
            }
            .button {
                top: 75px;
                //opacity: 0;
                @include rolloverAnimations(500ms);
                &.show {
                    opacity: 1;
                }
            }
            .helpText {
                margin-top: 30px;
                display: none;
                p {
                    margin: 0 0 10px 0;
                    font-size: 1em;
                }
                .button {
                    top: 0;
                }
            }
        }
    }
}


@keyframes grow {
  0% {
    width: 0%;
    background: $greenNew;
  }
    75% {
       background: $greenNew; 
    }
  100% {
    width: 100%;
    background: $redNew;
  }
}


// Game explain

.siteContainer {
    .app {
        #gameExplain {
            padding-top: 20px;
            .gameExample {
                max-width: 70%;
                margin: 50px 0;
                img {
                    max-width: 500px;
                   
                }
                 @include phone {
                    width: 100%;
                     max-width: 100%;
                     margin: 25px 0;
                }
            }
        }
//        .gameExplain {
//            .pageContainerPadding {
//                .frameBG {
//                    margin-top: 75px;
//                }
//            }
//            .overlay {
//                z-index: 2;
//                opacity: 0.8;
//            }
//            .overlayContent {
//                position: absolute;
//                left: 0;
//                top: 0;
//                width: 100%;
//                height: 100%;
//                z-index: 2;
//                padding: 30% 5% 0 5%;
//                @include box-sizing();
//                h2 {
//                    margin: 0 0 30px 0;
//                }
//                p {
//                    text-align: center;
//                    margin: 0 0 30px 0;
//                }
//                .arrow {
//                    width: 48px;
//                    margin: 0 auto;
//                    margin-bottom: 30px;
//                }
//                .game-image {
//                    max-width: 600px;
//                    margin: 0 auto;
//                    margin-bottom: 100px;
//                }
//                
//                
//            }
//            .button {
//                z-index: 2;
//                top: 300px;
//                opacity: 0;
//                &.show {
//                    opacity: 1;
//                }
//            }
//        }
        .progressBarContainer {
            width: 100%;
            height: 20px;
            position: relative;
            margin: 0 auto;
            &:before {
                position: absolute;
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: #000000; 
            }
            &:after {
                position: absolute;
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
//                background: $redNew;
                animation: grow 60s forwards linear;
            }
            .progressBarFigure {
                position: absolute;
                left: 0;
                bottom: -20px;
                width: 100%;
                color: $white;
                font-size: 0.875em;
                line-height: 1em;
                &.progressBarFigureCenter {
                    text-align: center;
                }
                &.progressBarFigureRight {
                    text-align: right;
                }
            }
            .icon {
                position: absolute;
                width: 76px;
                left: -100px;
                top: -38px;
            }
            
        }
        #teamAssemble,
        #level-3-game {
            .progressBarContainer {
                &:after {
                    animation-delay: 2s;
                }
            }
        }
    }
}










