// Page styling

.page {
    display: none;
    &.active {
        display: block;
    }
    &#name-entry {
        h1 {
            margin-bottom: 50px;
        }
        p {
            margin: 0 0 50px 0;
        }
    }
}