
#grid{
//position:absolute;
//top:50px;
//left:100px;
    border: 2px solid $blue;
    width: 500px;
    position: relative;
    margin: 40px 0 20px 0;
    @include phone {
        width: 100%;
    }
}

.pipe{
    font-size: 0px;
    display: block;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float: left;
    @include phone {
        width: 20%;
        height: auto;
        padding-bottom: 20%;
    }
}

/* end points */
.u {
    background-image: url("/dist/img/endNew.png");
    transform: rotate(180deg);
}

.u.a{
    background-image: url("/dist/img/endNew_a.png");
}

.d {
    background-image: url("/dist/img/endNew.png");
    transform: rotate(0deg);
}

.d.a{
    background-image: url("/dist/img/endNew_a.png");
}

.r {
    background-image: url("/dist/img/endNew.png");
    transform: rotate(270deg);
}

.r.a{
    background-image: url("/dist/img/endNew_a.png");
}

.l{
    background-image: url("/dist/img/endNew.png");
    transform: rotate(90deg);
}

.l.a{
    background-image: url("/dist/img/endNew_a.png");
}

/* straight */
.u.d{
    background-image: url("/dist/img/straightNew.png");
}

.u.d.a{
    background-image: url("/dist/img/straightNew_a.png");
}

.l.r{
    background-image: url("/dist/img/straightNew.png");
    transform: rotate(90deg);
}

.l.r.a{
    background-image: url("/dist/img/straightNew_a.png");
}

/* Corners */
.u.r{
    background-image: url("/dist/img/cornerNew.png");
    transform: rotate(0deg);
}

.u.r.a{
    background-image: url("/dist/img/cornerNew_a.png");
}

.u.l{
    background-image: url("/dist/img/cornerNew.png");
    transform: rotate(270deg);
}

.u.l.a{
    background-image: url("/dist/img/cornerNew_a.png");
}

.d.r{
    background-image: url("/dist/img/cornerNew.png");
    transform: rotate(90deg);
}

.d.r.a{
    background-image: url("/dist/img/cornerNew_a.png");
}

.d.l{
    background-image: url("/dist/img/cornerNew.png");
    transform: rotate(180deg);
}

.d.l.a{
    background-image: url("/dist/img/cornerNew_a.png");
}

/* T split */
.u.r.l{
    background-image: url("/dist/img/tsplitNew.png");
    transform: rotate(270deg);
}

.u.r.l.a{
    background-image: url("/dist/img/tsplitNew_a.png");
}

.r.d.l{
    background-image: url("/dist/img/tsplitNew.png");
    transform: rotate(90deg);
}

.r.d.l.a{
    background-image: url("/dist/img/tsplitNew_a.png");
}

.d.l.u{
    background-image: url("/dist/img/tsplitNew.png");
    transform: rotate(180deg);
}

.d.l.u.a{
    background-image: url("/dist/img/tsplitNew_a.png");
}

.u.r.d{
    background-image: url("/dist/img/tsplitNew.png");
    transform: rotate(0deg);
}

.u.r.d.a{
    background-image: url("/dist/img/tsplitNew_a.png");
}

/* Cross */
.u.r.d.l{
    background-image: url("/dist/img/crossNew.png");
}

.u.r.d.l.a{
    background-image: url("/dist/img/crossNew_a.png");
}
