@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@include fontFace('ibmplexsans-light-webfont','ibmplexsans-light-webfont');
@include fontFace('IBMPlexSans-SemiBold','IBMPlexSans-SemiBold');
@include fontFace('android101-webfont','android101-webfont');
@include fontFace('IBMPlexMono','IBMPlexMono');
@include fontFace('icomoon','icomoon');

.icon-arrow-right2:before {
  content: "\ea3c";
    font-family: 'icomoon';
}
.icon-play:before {
  content: "\e912";
    font-family: 'icomoon';
}
