h1 {
    font-size: 2.5em;
    line-height: 1em;
    margin: 0 0 30px 0;
    font-family: 'IBMPlexMono';
    color: $white;
    position: relative;
    padding: 0;
    &.textRed {
        color: $redNew;
    }
    .page-2 & {
        margin-bottom: 20px;
    }
    @include tablet {
        font-size: 2em;
    }
    @include phone {
        font-size: 1.8em;
    }
    .name {
        text-transform: uppercase;
    }
}
h2 {
    color: $white;
    font-size: 2em;
    line-height: 1.2em;
    font-family: 'IBMPlexMono';
    margin: 0 0 30px 0;
    padding: 0;
    @include tablet {
        font-size: 1.8em;
    }
}
h3 {
    color: $greenNew;
    font-size: 1em; 
    line-height: 1em;
    margin: 0 0 50px 0;
    padding: 0;
    font-family: 'IBMPlexMono';
}
h4 {
    color: $white;
    font-size: 1.500em;
    line-height: 1em;
    font-family: 'IBMPlexMono';
    margin: 0 0 30px 0;
    padding: 0;
    .subHeading-green & {
        color: $greenNew;
        font-size: 1em;
    }
}
p {
    color: $white;
    font-size: 1.25em;
    line-height: 1.4em;
    margin: 0 0 40px 0;
    padding: 0;
    font-family: 'ibmplexsans-light-webfont';
    letter-spacing: 2px;
//    &:last-of-type {
//        margin-bottom: 60px;
//    }
    strong {
        font-family: 'IBMPlexSans-SemiBold';
    }
    .heading & {
        margin: 0 0 40px 0;
    }
    &.progressBarContainerHeading {
        font-size: 0.875em;
        line-height: 1em;
        font-family: 'IBMPlexMono';
        margin: 0 0 10px 0;
    }
    &.textRed {
        color: $redNew;
    }
    &.refs {
        font-size: 0.813em;
        color: #A6C8FF;
        margin: 30px 0 0 0;
        a {
            text-decoration: none;
            color: inherit;
        }
    }
    .name {
        text-transform: uppercase;
    }
    @include tablet {
        font-size: 1.2em;
    }
    @include phone {
        font-size: 1em;
        line-height: 1.2em;
        margin: 0 0 20px 0;
    }
}

// Animated text color 

.headingAnimate {
    color: $white;
    &.active {
        color: $redNew;
    }
}

.button {
    border: none;
    padding: 12px 17px 15px 17px;
    margin: 0;
    height: auto;
    line-height: 100%;
    font-size: 0.875em; 
    line-height: 1em;
    font-family: 'ibmplexsans-light-webfont';
    text-transform: none;
    color: $white;
    background: $blueNew;
    @include border-radius(0);
    display: block;
    width: 100%;
    max-width: 225px;
    @include box-sizing();
    text-align: left;
    position: relative;
    @include rolloverAnimations(250ms);
    letter-spacing: 0.05em;
    &Animated {
        opacity: 0;
        &.active {
            opacity: 1;
        }
    }
    .icon {
        position: absolute;
        right: 10px;
        top: 14px;
        width: 15px!important;
        margin: 0!important;
        img {
            width: 15px;
            height: 11px;
        }
    }
    &.buttonBack {
        background: $blackNew;
    }
    &:hover {
        background: #0353e9;
        color: $white;
    }
    &.addTop {
        margin: 30px 0 0 0;
    }
    .rowDoubleButton & {
        display: inline-block;
    }
    &NotActive {
        background: $grey;
    }
    @include tablet-pro-landscape  {
        font-size: 0.7em;
    }
    @include tablet-pro-portait  {
        font-size: 0.7em;
    }
    @include tablet {
        font-size: 0.7em;
    }
    @include phone {
        max-width: 100%;
        float: none;
        margin: 0 0 5px 0;
    }
}


table {
    width: 100%;
    @include box-sizing();
    margin: 0 0 40px 0;
    tr {
        td,
        th {
            font-family: 'ibmplexsans-light-webfont';
            color: $white;
            line-height: 1em;
            border: none;
            @include box-sizing();
            padding: 0;
            padding: 5px 0;
            &.textBlue {
                color: $blue;
            }
            &.textGreen {
                color: $green;
            }
        }
        th {
            font-size: 1em;
            &:last-of-type {
                text-align: right;
            }
        }
        td {
            font-size: 1.125em;
            text-align: left;
            img {
                max-width: 20px;
                display: inline!important;
            }
        }
        td {
           text-transform: uppercase; 
            &:first-of-type {
                width: 10%;
            }
            &:last-of-type {
                text-align: right;
                color: $redNew;
                font-family: 'IBMPlexMono';
            }
            &:nth-of-type(3) {
                font-family: 'IBMPlexMono';
                color: $greenNew;
            }
            &:nth-of-type(4) {
                font-family: 'IBMPlexMono';
                color: $greenNew;
                text-align: right;
            }
        }
//        &:last-of-type {
//            td {
//                padding-bottom: 20px;
//                text-align: right;
//            }
//        }
    }
}





