// Brand Color
$primary-color: blue;

// Font sizes
$font-size: 18px;

// Screen sizes

$mobile-portait: 414px;
$tablet-width: 768px;
$desktop-width: 1084px;
$large-desktop-width: 1320px;
$extralarge-desktop: 1920px;

// Padding & margins

$padding: 100px 0;

// Colours 

$white: #ffffff;
$transWhite: rgba(255,255,255,0);
$black: #000000;
$grey: #CCCCCC;
$blue: #29abe2;
$navyBlue: #0071bc;
$skyBlue: rgba(41,171,226,0.3);
$skyBlueRollover: rgba(41,171,226,1);
$green: #76bd6a;
$greenTrans: rgba(118,189,106, 0.7);
$red: #c1282e;
$orange: #FFA500;


// New Colours

$blueNew: #0F62FE;
$blackNew: #252525;
$greenNew: #56D679;
$redNew: #DA1E28;